#webHelpMainContent {
  background-color: #fff;
  padding: 10px;
  font-size: 13px;
}
#webHelpMainContent.creationModeSidebar {
  max-width: 35%;
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  height: 100%;
}
#creationModeSidebarshowHideSpan {
  left: -95px;
  width: 160px;
  top: 45%;
  position: absolute;
  background-color: #f5f5f5;
  border: 1px solid #666;
  border-bottom: none;
  padding: 6px;
  border-radius: 4px 4px 0px 0px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 999;
}
#creationModeSidebarshowHideSpan:hover {
  cursor: pointer;
  background-color: #999;
  color: #fff;
}
#webHelpMainContent.creationModeSidebar.hideSidebar {
  width: 0px;
  padding: 0px;
  right: 1px; /*prevent a scrollbar*/
  background: transparent;
}
@media screen {
  .container .jumbotron {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
  }
  .jumbotron p {
    font-size: 14px;
  }
  #stepsTable th {
    font-size: 13px;
  }
  #stepsTable td {
    font-size: 14px;
  }
  .glyphicon-remove {
    cursor: pointer;
  }
}
#webHelpMainContent .nav-tabs > li.active > a,
#webHelpMainContent .nav-tabs > li.active > a:hover,
#webHelpMainContent .nav-tabs > li.active > a:focus {
  background-color: #f5f5f5;
  color: #555 !important;
}
#webHelpMainContent .btn {
  height: 34px;
  font-size: 12px;
}
#webHelpMainContent td .fa {
  cursor: pointer;
  font-size: 150%;
}
#webHelpMainContent input {
  border-radius: 5px;
  border: 1px solid #888;
  padding: 3px;
}
#webHelpMainContent .btn-default .fa {
  font-size: 150%;
}
#webHelpMainContent .tab-content > .active {
  padding: 5px;
  padding-top: 20px;
}
#webHelpMainContent .nav > li > a:hover,
#webHelpMainContent .nav > li > a:focus,
#webHelpMainContent .nav > li.active > a:hover,
#webHelpMainContent .nav > li.active > a:focus {
  background-color: #ebebeb;
}
#webHelpMainContent .sorting,
#webHelpMainContent .sorting_asc,
#webHelpMainContent .sorting_desc {
  background: none;
}
#webHelpMainContent table#stepsTable > thead > tr > th {
  display: table-cell;
}
#webHelpMainContent table#stepsTable > thead > tr > th.invisibleColumnInStepsTable {
  display: none;
}
#webHelpMainContent #stepsTable,
#webHelpMainContent .checkbox {
  margin-top: 15px;
  margin-bottom: 15px;
}
#webHelpMainContent table,
#webHelpMainContent table.dataTable {
  width: 100% !important; /*Prevent it getting scaled out of proportion*/
  border-bottom: 1px solid #dbdbdb !important;
}
#webHelpMainContent table > thead > tr > th,
#webHelpMainContent table.dataTable > thead > tr > th {
  border: 1px solid #dbdbdb !important;
  font-size: 13px;
  text-align: left;
}
#webHelpMainContent table tbody th,
#webHelpMainContent table.dataTable tbody th,
#webHelpMainContent table tbody td,
#webHelpMainContent table.dataTable tbody td {
  border: 0;
  padding: 12px;
  font-size: 14px;
  white-space: pre-wrap;
  max-width: 100px;
}
#webHelpMainContent table tbody td.invisibleColumnInStepsTable,
#webHelpMainContent table.dataTable tbody td.invisibleColumnInStepsTable {
  display: none !important;
}
#webHelpMainContent table #addSequence .well .btn.btn-default,
#webHelpMainContent table.dataTable #addSequence .well .btn.btn-default {
  font-size: 16px;
  height: auto;
  background-color: #f5f5f5;
  color: #333;
}
#webHelpMainContent table .btn-success,
#webHelpMainContent table.dataTable .btn-success {
  background-color: #399;
  border-color: #388;
}
#webHelpMainContent table .btn-success:hover,
#webHelpMainContent table.dataTable .btn-success:hover {
  background-color: #366;
}
#webHelpMainContent table input[type="checkbox"],
#webHelpMainContent table.dataTable input[type="checkbox"] {
  -ms-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
  margin-left: -15px;
}
#webHelpMainContent table .btn-group .btn,
#webHelpMainContent table.dataTable .btn-group .btn {
  padding-top: 8px;
}
.suggestionDiv {
  width: 80%;
/*font-weight: bold;*/
  font-size: 14px;
  margin-top: 10px;
}
.introjs-tooltip {
  color: #fff;
  background-color: #444;
  font-size: 120%;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  border-radius: 8px;
}
.introjs-tooltipReferenceLayer {
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.introjs-helperLayer {
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.introjs-tooltiptext {
  display: inline-block;
}
.introjs-button {
  font-size: 70%;
  text-decoration: none;
  margin-top: 20px;
}
.introjs-button:hover {
  box-shadow: none;
}
#sequenceTitleSetter {
  font-weight: bold;
}
.ai-modal-title {
  line-height: 0;
}
#contentConsumptionNavButton {
  background: none;
  color: #fff;
  font-size: 18px;
  position: absolute;
/*height: 100%;*/
}
#contentConsumptionNavButton[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 0.7em;
  background: #f00;
  color: #fff;
  font-weight: bold;
  opacity: 0.9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 18px;
  border-radius: 15%;
  box-shadow: 0 0 1px #333;
}
a.introjs-button {
  text-decoration: none;
}
.introjs-helperNumberLayer {
  border: 0;
  padding: 6px;
  background: #08c;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
a.introjs-skipbutton + a.introjs-button.introjs-prevbutton + a.introjs-button.introjs-nextbutton.introjs-disabled {
/*When skip button shows 'done' i.e. last step, show done at right*/
  float: right;
}
.edit_from_te {
  white-space: pre-wrap;
  max-width: 100px;
}
