#webHelpMainContent {
    background-color: white;
    padding: 10px;
    font-family: Tahoma, Arial, sans-serif; /*Standard Aladdin VI font*/
}

@media screen {
    .container .jumbotron {
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 10px;
    }

    .jumbotron p {
        font-size: 14px;
    }

    #stepsTable th {
        font-size: 13px;
    }

    #stepsTable td {
        font-size: 14px;
    }

    .glyphicon-remove {
        cursor: pointer;
    }
}

iframe {
    width: 100%;
    height: 100%;
}

.nav-tabs > li.active > a {
    color: #555 !important;
}

/*.nav-tabs > li > a {
    font-size: 12px;
}*/

.content {
    margin-top: 100px;
}

.ai-navbar .nav-right {
    height: 100%;
    margin-top: -10px;
}

.inputDivCentered {
    margin: 0 auto;
    float: none;
    padding-top: 10%;
    padding-bottom: 15%;
    width: 80%;
}

#webHelpMainContent .btn {
    height: 34px;
    font-size: 13px;
}

#webHelpMainContent input {
    border-radius: 5px;
    border: 1px solid #888;
    padding: 3px;
}

#webHelpMainContent td .fa {
    cursor: pointer;
}

#webHelpMainContent .btn-default .fa {
    font-size: 150%;
}

.suggestionDiv {
    width: 80%;
    /*font-weight: bold;*/
    font-size: 14px;
    margin-top: 10px;
}

.introjs-tooltip {
    color: white;
    background-color: #444;
    font-size: 120%;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.introjs-button {
    font-size: 70%;
    text-decoration: none;
    margin-top: 20px;
}

#webHelpMainContent .tab-content > .active {
    padding: 5px;
    padding-top: 20px;
}

#sequenceTitleSetter {
    font-weight: bold;
}

.ai-modal-title {
    line-height: 0;
}

#contentConsumptionNavButton {
    background: none;
    color: white;
    font-size: 18px;
}

#webHelpMainContent .nav > li > a:hover, #webHelpMainContent .nav > li > a:focus {
    background-color: #ebebeb;
}

#webHelpMainContent table.dataTable tbody th, #webHelpMainContent table.dataTable tbody td {
    border: 0;
    padding: 12px;
}

#webHelpMainContent table.dataTable {
    border-bottom: 1px solid #dbdbdb !important;
}

a.introjs-button {
    text-decoration: none;
}

.introjs-helperNumberLayer {
    border: 0;
    padding: 0px;
    background: #339999;
}

#webHelpMainContent .sorting, #webHelpMainContent .sorting_asc, #webHelpMainContent .sorting_desc {
    background: none;
}

#webHelpMainContent .table > thead > tr > th {
    border: 1px solid #dbdbdb !important;
    display: none;
}

#webHelpMainContent #stepsTable > thead > tr > th {
    display: table-cell;
}

#webHelpMainContent #addSequence .well .btn.btn-default {
    font-size: 16px;
    height: auto;
}

#webHelpMainContent .btn-success {
    background-color: #339999;
    border-color: #338888;
}

#webHelpMainContent .btn-success:hover {
    background-color: #336666;
}

#webHelpMainContent input[type="checkbox"] {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    margin-left: -15px;
}

#webHelpMainContent .btn-group .btn {
    padding-top: 8px;
}
