/.idea
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
/.idea/WebHelp.iml
/.idea/libraries
/.idea/modules.xml
/.idea/scopes
/.idea/uiDesigner.xml
/.idea/jsLibraryMappings.xml
/.idea/.name
/.idea/compiler.xml
/.idea/copyright
/.idea/misc.xml
/.idea/atlassian-ide-plugin.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/encodings.xml
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

dist/*
node_modules/*
*.log
.svn
bower_components/*
.idea
css/WebHelp.css
.idea/jsLibraryMappings.xml
.idea/libraries/WebHelp_node_modules.xml
*.xml
.idea/WebHelp.iml
.idea/libraries/WebHelp_node_modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/*
