/*-------------------------------------------------
  Last edited by:  $Author: ibondare $
              on:  $Date: 2005/10/18 19:47:17 $
        Filename:  $RCSfile: brs_master_head.css,v $
        Revision:  $Revision: 1.10 $

  - Application level styles for use in brs web apps

-------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* style for master header bar */
table.container {
    background-color: #EDEDED;
    width: 800;
}

.app_logo {
    background-color: 003366;
}

td.tool_bar {
    background-color: #940300;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
}

td.tab_bar {
    background-color: #C8C5B9;
}

td.links_bar {
    text-align: right;
    height: 20;
    background-color: #EDEDED;
    text-decoration: none;
    font-size: 11px;
    vertical-align: middle;
}

.links_bar a, .links_bar a:visited, .links_bar a:active,
.links_bar a:hover {
    text-align: right;
    background-color: #EDEDED;
    color: #003366;
    text-decoration: none;
    font-size: 11px;
    vertical-align: middle;
}

.links_bar_input {
    font-family: tahoma, fixed-width;
    font-size: 11px;
    vertical-align: middle;
}

.toolbar_links {
    color: #003366;
    text-decoration: none;
    font-size: 11px;
    vertical-align: middle;
}

td.gradient {
    height: 10;
    background-image: url("/images/appimages/web_query/master_head_images/gradient.gif");
}

tr.bannerrow {
    color: #ffffff;
    background-color: #003366;
    vertical-align: bottom;
}

.client_name {
    font-size: 17px;
    font-family: tahoma;
}

.query_title {
    font-size: 17px;
    font-family: tahoma;
}

.active_tab {
    font-family: tahoma, fixed-width;
    background-color: #DDDACB;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    width: 79px;
    height: 23px;
    border-bottom-color: #DDDACB;
    border-bottom-style: solid;
    border-left-style: outset;
    border-right-style: outset;
    border-top-style: outset;
}

.infocus_tab {
    font-family: tahoma, fixed-width;
    background-color: #DDDACB;
    color: #000000;
    font-size: 11px;
    width: 79px;
    height: 23px;
    border-bottom-color: #DDDACB;
    border-bottom-style: solid;
    border-left-style: outset;
    border-right-style: outset;
    border-top-style: outset;
}

.inactive_tab {
    font-family: tahoma, fixed-width;
    background-color: #C8C5B9;
    color: #000000;
    font-size: 11px;
    width: 79px;
    height: 21px;
    border-right-style: outset;
    border-bottom-style: inset;
    border-top-style: outset;
}

.pressed_tab {
    font-family: tahoma, fixed-width;
    background-color: #DDDACB;
    color: #000000;
    font-size: 11px;
    width: 79px;
    height: 23px;
    border-bottom-color: #DDDACB;
    border-bottom-style: solid;
    border-left-style: inset;
    border-right-style: inset;
    border-top-style: inset;
}

/* end style for header bar */

