/*-------------------------------------------------
  Last edited by:  $Author: szheng $
              on:  $Date: 2002/12/24 19:35:57 $
        Filename:  $RCSfile: brs_theme.css,v $
        Revision:  $Revision: 1.2 $
        
  - Generic, top-level styles for use in all brs web apps
    
-------------------------------------------------*/
/* generic styles */
.sm1 {
    font-family: tahoma;
    font-size: 10px;
}

.sm2 {
    font-family: tahoma;
    font-size: 9px;
}

.sm3 {
    font-family: tahoma;
    font-size: 8px;
}

.client_logo {
    font-size: 26px;
    font-weight: bold;
    font-family: Times, "Times New Roman", serif;
}

/* tag-specific styles */
body {
    background-color: #ffffff;
    font-family: tahoma;
    font-size: 11px;
    margin: 0;
}

td, th {
    font-family: tahoma;
    font-size: 11px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

/* generic links */
a {
    color: #000080;
}

a:visited {
    color: #000080;
}

a:active {
    color: #ff0000;
}

a:hover {
    color: #ff0000;
}

.error_label {
    color: #ff0000;
}
