/*-------------------------------------------------
  Last edited by:  $Author: miays $
              on:  $Date: 2007/02/16 11:26:11 $
        Filename:  $RCSfile: brs_input_form.css,v $
        Revision:  $Revision: 1.16 $
        
  - Application level styles for use in brs web apps
    
-------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* generic application styles */
.input {
    font-family: tahoma, fixed-width;
    font-size: 11px;
}

.no_input_input {
    font-family: tahoma, fixed-width;
    font-size: 11px;
    background-color: #DDDACB;
}

.label {
    font-size: 11px;
}

.form_label {
    font-size: 11px;
    text-align: right;
}

.smlabel {
    font-size: 10px;
}

.button {
    font-family: tahoma, fixed-width;
    background-color: #DDDACB;
    color: #000000;
    font-size: 11px;
    width: 75px;
    height: 23px;
}

.long_button {
    font-family: tahoma, fixed-width;
    background-color: #DDDACB;
    color: #000000;
    font-size: 11px;
    width: 100px;
    height: 23px;
}

.action_link, a.action_link:link, a.action_link:visited, a.action_link:active,
a.action_link:hover {
    font-family: tahoma;
    color: #000000;
    font-size: 11px;
    text-decoration: none;
}

.error {
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    color: #940300;
    height: 30;
}

.pane_title, .pane_title_2 {
    background-color: #EDEDE4;
    font-family: tahoma;
    font-size: 11px;
    color: #003366;
    vertical-align: middle;
}

td.pane_title, td.pane_title_2 {
    border-bottom: 1px solid #DDDACB;
}

td.pane_title_2 {
    padding-left: 23px;
}

a.pane_title, a.pane_title:visited, a.pane_title:hover,
a.pane_title_2, a.pane_title_2:visited, a.pane_title_2:hover {
    text-decoration: none;
    cursor: default;
}

.input_form {
    /* medium grey */
    background-color: #DDDACB;
}

td.input_form_glob, td.input_form_glob_2 {
    /* medium grey */
    padding-left: 15px;
    background-color: #DDDACB;
}

table.form_container {
    /* darker grey */
    background-color: #C8C5B9;
    width: 800px;
}

td.form_separator {
    /* lighter grey */
    background-color: #EDEDE4;
    width: 800px;
}

label input {
    vertical-align: middle;
}

label select {
    vertical-align: middle;
}

/* end style for input forms */

/*---------------------------------------------------------------------------*/
/* dialog box styles */
body.dialog_box {
    background-color: #DDDACB;
    margin: 0;
}

table.dialog_box_input_form {
    /* darker grey */
    background-color: #DDDACB;
    width: 100%;
}

.dialog_box_app_logo {
    background-color: #003366;
    color: #ffffff;
    font-size: 20px;
    vertical-align: bottom;
    height: 25;
}

.dialog_box_section_title {
    color: #333333;
    text-decoration: none;
    font-size: 18px;
}

/* end dialog box styles */

.tree_box {
    background-color: #C8C5B9;
    margin-left: 10;
}
