<div id="webHelpMainContent">
	<div class="tabbable">
		<!-- Only required for left/right tabs -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#popularSequences" data-toggle="tab">Popular</a>
			</li>
			<li><a href="#whatsNew" data-toggle="tab">What's New?</a>
				<li><a href="#availableSequences" data-toggle="tab">Topics</a>
				</li>
				<li><a href="#addSequence" data-toggle="tab">Add/Edit Sequence</a>
				</li>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="popularSequences">
				<div id="popularSequencesContent">No popular items yet!</div>
			</div>
			<div class="tab-pane" id="whatsNew">
				<div id="whatsNewContent">
					No new items yet!
				</div>
			</div>
			<div class="tab-pane" id="availableSequences">
				<div id="availableSequencesContent">
					Placeholder where you can search for existing sequences
				</div>
			</div>

			<div class="tab-pane" id="addSequence">
				<div class="well">

					<section contenteditable="true">
						<div>
							<input type="text" id="sequenceTitleSetter" value="Sequence title" />
						</div>
						<table id="stepsTable" class="table table-bordered table-hover"></table>
					</section>

					<button type="button" id='sequencePreviewButton' class="btn btn-default centered actionButton" aria-label="Left Align" style="margin-top:20px;" onclick="preview();">
						<span class="iconClass-play" aria-hidden="true "></span> Preview
					</button>

					<button type="button " id='sequenceSaveButton' class="btn btn-default centered " aria-label="Left Align " style="margin-top:20px; " onclick="saveToDB(); ">
						<span class="iconClass-save" aria-hidden="true"></span> Save
					</button>
					<button type="button" id='clearStepsButton ' class="btn btn-default centered" aria-label="Left Align" style="margin-top:20px;" onclick="clearStepsInSequence();">
						<span class="iconClass-clear" aria-hidden="true "></span> Clear
					</button>
				</div>

				<div class="well ">Available actions:
					<div class="well-sm ">
						<button data-toggle="tooltip " data-placement="top " title="Click and drag over elements on the page to select them " class="btn btn-success " role="button " id="startDragDropButton " onClick="startSelectionOfElement(true); "><span class="iconClass-add"></span> Add element step
						</button>
						<button class="btn btn-info" role="button" id="startEmptyStepButton" onClick="startSelectionOfElement(false);">
							<span class="iconClass-add"></span> Add page step
						</button>
						<button class="btn btn-danger " id="cancelDragDropButton " role="button " onClick="jQueryDragSelector.off(); "><span class="iconClass-remove"></span> Cancel
						</button>
					</div>
				</div>
				<div class="alert alert-danger" id="noElementsSelectedDiv" style="display: none;">
					<button type="button" class="close" onclick="jQuery('#noElementsSelectedDiv ').hide();" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					No elements were selected, please try again
				</div>

				<div class="alert alert-danger" id="noStepsInPreviewDiv" style="display: none;">
					<button type="button" class="close" onclick="jQuery('#noStepsInPreviewDiv ').hide();" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					No steps to preview. Please add steps.
				</div>
			</div>
		</div>
	</div>
</div>

<div id="contentConsumptionModal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 800px;">
			<div class="modal-header ai-modal-title">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				"What would you like to learn?
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-default">Close</button>
			</div>
		</div>
	</div>
</div>