<div id="contentConsumptionModal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 800px;">
			<div class="modal-header ai-modal-title">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				What would you like to learn?
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-default">Close</button>
			</div>
		</div>
	</div>
</div>