<li class="webHelpSequenceStepListItem">
    <div class="iconClass-remove remove-step"></div>
    <div contenteditable="true" class="webHelpSequenceListItem-title">Editable title</div>
    <div class="webHelpSequenceListItem-selectionType"></div>
    <div class="webHelpSequenceListItem-selectionValue"></div>
    <div class="webHelpSequenceListItem-selectionFrame"></div>
    <div contenteditable="true" class="webHelpSequenceListItem-content">Editable content</div>
	<!--<div class="webHelpSequenceListItem-content webHelp-editable">
		<div class="quill-toolbar">
			<div class="ql-format-group">
				<span class="ql-bold ql-format-button"></span>
				<span class="ql-italic ql-format-button"></span>
				<span class="ql-strike ql-format-button"></span>
				<span class="ql-underline ql-format-button"></span>
			</div>
			<div class="ql-format-group">
				<span class="ql-format-button ql-image"></span>
				<span class="ql-format-button ql-link"></span>
				<span class="ql-format-separator"></span>
			</div>
			<select class="ql-size">
				<option value="small">Small</option>
				<option value="normal">Normal</option>
				<option value="large">Large</option>
			</select>
		</div>
		<div class="quill-content">Editable content</div>
	</div>-->
</li>
