<div id="webHelpMainContent">
    <div class="tabbable">
        <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li><a href="#whatsNew" data-toggle="tab" target="_self">What's New?</a></li>
            <li><a href="#availableSequences" data-toggle="tab"  target="_self">Topics</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="scratchpad">
                <div id="whatsNewContent"></div>
            </div>
            <div class="tab-pane" id="availableSequences">
                <div id="availableSequencesContent"></div>
            </div>
        </div>
    </div>
</div>