<div id="contactConsumptionModal">
    Please fill out the form below in order to contact Aladdin Support.
    <hr style="width: 100%; color: #aaa; height: 1px; background-color: #aaa;">
    <div id="webHelpissueNames">
        <strong>Please tell us more about your issue</strong><br>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span id="webHelpissueButton">Select Issue</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="width:100%;cursor: pointer;font-size:13px" id="webHelpissueTag">
            </ul>
        </div>
    </div>

    <div id="webHelpissueSelected" style="display:none">
        <div class="alert alert-info" role="alert">
            <h4><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Have you tried</h4>
            <p>The following automated suggestions may help resolve your issue.<br /><br /></p>

            <div class="panel panel-default">
                <div class="panel-body" style="white-space: pre" id="webHelpsuggestedSolutions"></div>
            </div>

            <h5>
<span id="webHelpthumbsUp" style='color:green;cursor: pointer'>
<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> This was helpful
</span> &emsp;
                <span  id="webHelpthumbsDown" style='color:red;cursor: pointer'>
<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> This did not solve my issue
</span>
            </h5>

        </div>
    </div>





    <div id="webHelpnotHelpful">
        <div id="issueMessage">
            <strong>Write a message</strong><br>
            <textarea class="form-control" id="webHelpmessageArea" style="width: 100%" placeholder="Enter a message" rows="6"></textarea><br>
            <button id="webHelpattachFile" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>Attach a file</button>
        </div>
        <div id="webHelpissueHashtag">
            <strong>Tag your message to route to an expert</strong><br>
            <div class="input-group">
                <span class="input-group-addon">#</span>
                <input type="text" style="height: 39px;border-radius: 0px; border-color: gainsboro" class="form-control" id="webHelphashtagEntry"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" id="webHelptagentrybtn" type="button" style="height: 39px;margin: 0px;">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
            <div id="webHelpprepopulatedTags" class="form-group" style="margin-top:10px">
                <div id="webHelpappNameTag" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" data-delay="500" title="This tag was created based on selections above"></div>
                <div id="webHelpissueNameTag" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" data-delay="500" title="This tag was created based on selections above"></div>
            </div>

            <p class="italic" style="margin:0">
                Suggested tags:
                <i><div id="webHelpsuggestedTag"></div></i>
            </p>
        </div>
        <div id="webHelpcontactMethod">
            <strong>How would you like us to contact you?</strong><br>
            <div class="alert alert-info">
                <h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> We recommend</h4>
                <p>Based on your selections, we think that the best way to have us contact you is by <strong><span id="webHelprecommendedMethod"></span></strong>.</p>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info btn-lg" id="webHelpContactEmail">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-mail Me
                </button>
            </div>
        </div>
    </div>
</div>